# ─── Database ─────────────────────────────────────────────────────
# DATABASE_URL=postgresql://postgres:1234@localhost:5432/party_up_db
DATABASE_URL=

# ─── JWT ──────────────────────────────────────────────────────────
SECRET_KEY=
# ALGORITHM=HS256
# ACCESS_TOKEN_EXPIRE_MINUTES=1440
# REFRESH_TOKEN_EXPIRE_DAYS=7

# ─── Cookie ───────────────────────────────────────────────────────
# COOKIE_SECURE=False        # 운영환경(HTTPS)에서는 True
# COOKIE_SAMESITE=lax

# ─── CORS ─────────────────────────────────────────────────────────
# ALLOWED_ORIGINS=
ALLOWED_ORIGINS=

# ─── Redis ────────────────────────────────────────────────────────
# REDIS_URL=
REDIS_URL=

# ─── Ollama (AI 욕설 감지) ─────────────────────────────────────────
OLLAMA_URL=
OLLAMA_MODEL=

# ─── GPU Server URL ─────────────────────────────────────────
GPU_SERVER_URL=


# ─── Google SMTP Email ────────────────────────────────────────────
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
MAIL_SERVER=
MAIL_STARTTLS=
MAIL_SSL_TLS=

# ─── Google OAuth ─────────────────────────────────────────────────
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
# GOOGLE_REDIRECT_URI=

# ─── Kakao OAuth ──────────────────────────────────────────────────
KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=
# KAKAO_REDIRECT_URI=

# ─── Naver OAuth ──────────────────────────────────────────────────
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=
# NAVER_REDIRECT_URI=